body {
    font-family: Arial, sans-serif;
    background-color: #eef7fb;
    margin: 0px;
    padding-left: 0px;
    padding: 10px;
}

.header {
    background-color: #0a82c9;
    color: white;
    text-align: center;
}

.header p {
    font-style: italic;
    margin-top: 3px;
}

.container {
    padding-top: 0;
}

h2 {
    color: #0a82c9;
}

.highlight {
    color: #0a82c9;
}

ul {
    padding-left: 20px;
}

ul li {
    margin-bottom: 5px;
}

.warning {
    color: red;
    font-style: italic;
}

a {
    color: blue;
    text-decoration: underline;
}

.footer {
    background-color: #0a82c9;
    color: white;
    text-align: center;
    padding: 0px;
    margin-top: 30px;
    margin-bottom: 30px;
}